* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: white;
    font-family: "Ubuntu", sans-serif;
    font-size: 24px;
}

.pro-pic {
    width: 100%;
    height: 500px;
    border-radius: 7px;
    margin: 50px 50px 10px;
    object-fit: cover;
}

.pro-pic.small {
    width: 80px;
    height: 80px;
    border-radius: 11px;
    margin: 0px;
    cursor: pointer;
    padding: 12px;
    z-index: 300;
}

.pro-pic img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.ven-con {
    margin: 20px;
    padding: 22px;
    border-bottom: 1px solid silver;
    display: flex;
}

.ven-icon {
    width: 35px;
    cursor: pointer;
    margin: 35px;
    align-self: self-start;
}

.ven-con:first-child {
    margin-top: 50px;
}

.ven-pic {
    width: 600px;
    height: 370px;
    border-radius: 11px;
    margin: 0px;
    padding: 12px;
    border: 1px solid black;
    object-fit: contain;
}

.ven-pic img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 1px solid white;
}

.ven-text {
    width: 50%;
    margin-right: 20px;
    padding: 12px;
}

/* .border-hotpink {
    border: 5px hotpink solid;
}
.border-acqua {
    border: 5px aquamarine solid;
}
.border-purple {
    border: 5px purple solid;
}
.border-pink {
    border: 5px pink solid;
}
.border-flamingo {
    border: 5px rgb(194, 92, 92) solid;
}
.border-blue {
    border: 5px blue solid;
} */

header {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    width: 100%;
    border-bottom: 1px solid white;
    z-index: 2000;
    background: #000;
}

h1 {
    text-align: center;
    margin: 50px 30px 0px;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 300;
}

h2 {
    /* color: #f9815b; */
    text-align: center;
    margin: 20px 0;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-align: left;
    font-weight: 300;
}

h3 {
    margin: 20px 0;
    text-align: center;
}

p {
    margin: 10px;
    font-size: 0.8em;
    line-height: 1.4em;
}

.handwrite {
    font-family: "Niconne", cursive;
    font-size: 1.4em;
    text-align: center;
    margin: 20px 0;
}

.menu-box {
    display: flex;
    align-items: center;
    padding-right: 1%;
}

.menu {
    font-size: 2em;
    color: #f9815b;
    font-weight: 100;
    z-index: 300;
    cursor: pointer;
}

.burger {
    z-index: 300;
}

.nav-icon {
    display: flex;
    align-items: center;
}

a {
    color: #f9815b;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    line-height: 1.6em;
}

a:hover {
    color: #ff5722;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a {
    color: rgb(255, 255, 255);
    margin: 20px;
    font-weight: 300;
}

nav a:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

nav ul {
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
    margin: 10px 15px;
}
nav ul li {
    list-style-type: none;
}

nav ul li a {
    margin: 20px;
    color: #ffffff;
}

.slide {
    position: absolute;
    right: -600px;
    width: 600px;
    height: 370px;
    -webkit-animation: slide 0.3s forwards;
    -webkit-animation-delay: 0.3s;
    animation: slide 0.3s forwards;
    animation-delay: 0.3s;
}

.active,
.active:hover {
    color: #f9815b;
    cursor: default;
}

.active-b {
    color: #f9815b !important;
}

.giphy-embed {
    margin-top: 40px;
}

.error {
    margin: 20px 0;
    color: #fc8240;
    text-align: center;
}

.center-box {
    display: flex;
    justify-content: center;
    width: 100%;
}

.welcome {
    display: flex;
    justify-content: center;
}

.intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #000000;
}

.intro > h1 {
    color: white;
}
.intro > h2 {
    color: #fc8240;
}

.intro > p {
    width: 70%;
    text-align: center;
    align-self: center;
    line-height: 1.4em;
    color: darkgray;
}

.gray {
    color: darkgray;
    font-size: 0.8em;
}

.logo {
    width: 60%;
    padding: 20px;
}

.logo-link {
    max-width: 55%;
    display: flex;
}

.intro .logo {
    width: 35%;
    max-width: 40%;
}

.reg-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.maps {
    margin: 50px 0 0;
}

.add-venue {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    width: 650px;
    height: 650px;
    background-color: #fff;
    padding: 20px;
}

.show-venue {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    width: 650px;
    height: 650px;
    background-color: #fff;
    padding: 20px;
}

.show-venue h2 {
    margin: 0px;
}

.venue {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 650px;
    background-color: rgb(0, 0, 0);
    padding: 20px;
}

.venue-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    background-color: #fff;
    border-radius: 11px;
}

.venue-box h1 {
    margin: 0px 0 20px 0px;
}

.back-box {
    display: flex;
    align-self: end;
    align-items: center;
}

.overlay {
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    z-index: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
}

textarea {
    margin: 0px;
    max-width: 800px;
    min-width: 400px;
    height: 150px;
    width: 600px;
    font-size: 24px;
    padding: 20px 10px;
    color: #000000;
    background: content-box;
    border-radius: 20px;
    resize: none;
    font-family: "Ubuntu", sans-serif;
}

textarea:focus {
    outline: none;
}
/* .comments textarea {
    margin-top: 0;
} */

.text-area {
    min-height: auto;
    min-height: 70px;
    margin-top: 30px;
    resize: none;
}

.comment-user {
    display: flex;
}
.ven-creator {
    display: flex;
    align-self: flex-start;
}

.user-box {
    display: flex;
    align-items: center;
}

.comment > p {
    margin: 5px 10px;
}

.black {
    color: black;
}
.orange {
    color: #f9815b;
}
.fixed {
    position: fixed;
}

.del-box {
    margin-bottom: 40px;
    /* font-size: 0.8em; */
}

.del-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: white;
    padding: 40px;
    border: 1px black dotted;
    border-radius: 7px;
    margin-bottom: 40px;
}

.pro-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

select {
    width: 350px;
    color: white;
    font-size: 1em;
    padding: 13px 11px;
    margin: 5px 20px;
    background-color: transparent !important;
    border: none !important;
    border-bottom: 1px solid darkgrey !important;
}

select:focus,
select:active {
    outline: none;
}

input {
    width: 350px;
    font-size: 1em;
    padding: 13px 11px;
    margin: 5px 20px;
    background-color: transparent !important;
    border: none !important;
    border-bottom: 1px solid darkgrey !important;
    color: #f9815b;
}

input:hover,
input:active,
input:focus {
    outline: none;
}

input:-webkit-autofill {
    background-color: transparent !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #191814 inset !important;
}
input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: darkgray;
    /* color: white; */
    opacity: 1; /* Firefox */
}

.input-file {
    border-bottom: none !important;
    color: black;
}

.find-people {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.btn {
    min-width: 300px;
    border-radius: 3px;
    border: 3px solid #000000;
    margin: 30px auto;
    cursor: pointer;
    box-shadow: 0px 0px 0px #fff;
    font-size: 24px;
    letter-spacing: 0.3em;
    padding: 15px 25px;
    max-width: 300px;
    color: black;
    background-color: white;
    font-weight: 700;
}

.btn.edit {
    border: none;
    border-bottom: 3px solid #000000;
    background-color: transparent;
}

.btn.my-edit {
    border: none;
    background-color: transparent;
    margin: 20px 10px 10px 0;
    text-align: left;
    padding-left: 0;
    font-size: 0.8em;
    max-width: 11px;
    color: #f9815b;
}

.btn:hover {
    color: white;
    background-color: black;
    transition: all 0.5s;
}

.btn:focus,
.btn:active {
    outline: none;
}

.btn.upload {
    padding: 10px;
    color: black;
    background-color: white;
}

.btn.del {
    padding: 10px;
    color: white;
    background-color: #f9815b;
    border: 3px solid #f9815b;
}

.btn.upload:hover {
    background-color: black;
    color: white;
}

.btn.link {
    padding: 10px;
    color: black;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    font-weight: 300;
    letter-spacing: 0.1em;
    border-right: 1px solid black;
    margin: auto;
}

.btn.link:hover {
    background-color: black;
    color: white;
}

footer {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    font-weight: 300;
    flex-flow: wrap;
    justify-content: space-between;
}

.footer-note {
    justify-self: flex-start;
}

footer > p {
    font-size: 0.8em;
    margin-left: 1%;
}
footer > div {
    justify-self: flex-end;
    align-self: flex-end;
}

.playlist {
    justify-self: flex-end;
    align-self: flex-end;
    margin: auto;
}

.music-box {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
    align-self: flex-end;
}

.iframe-box {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
    align-self: flex-end;
}

.map-intro {
    display: flex;
    justify-content: center;
    background-color: #a5a5a5;
    color: white;
}

.map-intro p {
    font-size: 0.8em;
}

.bg-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(
            rgba(11, 11, 11, 0.8),
            rgba(67, 67, 67, 0.9)
        ),
        url("/images/bg.jpg");
    background-position: center center;
    display: block;
    position: relative;
    background-size: cover;
}

.feed {
    min-height: 84vh;
}

.comments-display {
    max-height: 220px;
    overflow-y: scroll;
    padding: 0 20px;
    min-width: 40%;
}

.comment {
    background-color: white;
    padding: 10px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

.comment.my {
    background-color: #e6dcf6;
}

.menu-con {
    background-color: #000000;
    width: 30%;
    height: 100%;
    position: absolute;
    display: flex;
    top: 0px;
    right: 0;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    z-index: 100;
}

.zi {
    z-index: 300;
    line-height: 0;
}

.nav-con {
    display: flex;
    height: 50%;
    flex-direction: column;
    place-items: self-start;
}

.profile-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}

.my-ven-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px 0;
}

.my-ven-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}

.my-edit-box {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
}

.my-ven-pic {
    width: 80%;
    max-height: 570px;
    border-radius: 15px;
    margin: 20px auto;
    object-fit: cover;
}

.comments {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile.high {
    min-height: 89vh;
}

.tweets-con {
    position: absolute;
}

.tweets {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;
    margin-bottom: 40px;
}
.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;
    margin-bottom: 40px;
}

.cards-container h2 {
    font-family: "Niconne", cursive;
}

.container {
    display: flex;
    flex-wrap: wrap;
    min-height: 150px;
    justify-content: center;
}

.icons {
    display: flex;
    margin: 20px 0;
    max-height: 50px;
}

.icon-close {
    max-height: 50px;
    align-self: flex-end;
    cursor: pointer;
}

.icon.back {
    align-self: center;
}
.icon.big {
    width: 50px;
}

.back {
    color: #f9815b;
    cursor: pointer;
    font-size: 1.3em;
    margin: 0;
}

.venue-pic {
    width: 100%;
    height: 570px;
    border-radius: 11px;
    margin: 20px auto;
    object-fit: cover;
}

.venue-pic img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 1px solid white;
}

.popup-pic {
    width: 100%;
    height: 55%;
    border-radius: 11px;
    object-fit: cover;
    margin-top: 5px;

    /* border-radius: 0 50px 0 50px; */
}

.ven-image {
    width: 100%;
    height: 35%;
    max-height: 500px;
    border-radius: 11px;
    object-fit: cover;
    margin-top: 5px;

    border-radius: 0 50px 0 50px;
}

.popup-pic.ven {
    height: 35%;
}

.popup-pic img,
.card-pic img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 1px solid white;
}

.card-pic {
    width: 300px;
    height: 170px;
    border-radius: 11px;
    object-fit: cover;
}

.user-search {
    display: flex;
    align-items: center;
    margin: 20px;
    width: 420px;
}

.user-search img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 7px;
}

.user-search p,
.other-friend-box p {
    margin: 20px;
}

.con-bg {
    background-color: rgb(245, 234, 234);
}

.icon {
    width: 35px;
    cursor: pointer;
    margin: 0 20px;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.uploader {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
}

.search-con {
    border: 1px solid black;
    max-width: 500px;
    padding: 10px;
    text-align: center;
    align-self: center;
    margin: 40px 0;
}

.bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.bio > p {
    max-width: 800px;
    margin: 40px;
}

.new-vens {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    border-radius: 11px;
    background-color: #f6f5f6;
    transition: 0.4s ease-out;
    box-shadow: 7px 9px 5px 0px;
}

.card:hover {
    transform: translateY(10px);
    transition: 0.4s;
}

.ratings {
    margin: 15px;
}

@media only screen and (max-width: 900px) {
    .logo {
        width: 40%;
        padding: 10px;
    }
    .uploader {
        margin: 0 auto;
    }

    .my-ven-pic {
        height: auto;
    }

    .ven-con {
        display: flex;
        flex-direction: column;
    }

    .ven-pic {
        width: auto;
    }
    .ven-icon {
        margin: 0;
    }

    .menu-con {
        width: 80%;
        box-shadow: -15px -12px 5px 0px rgb(132 128 128 / 11%);
    }

    .user-search {
        margin: 10px 0;
        width: auto;
    }

    .user-search img {
        width: 80px;
        height: 80px;
    }

    .pro-pic {
        margin: 10px 0;
        height: 330px;
    }

    .pro-pic.small {
        width: 50px;
        height: 50px;
        padding: 7px;
    }

    .other-friend-box {
        width: auto;
    }

    .search-con {
        font-size: 0.8em;
    }

    .welcome {
        flex-direction: column;
        height: auto;
    }

    .intro {
        height: 100%;
    }

    .intro > p {
        width: 90%;
        margin-bottom: 70px;
    }

    .center-box {
        height: 100%;
    }

    .menu-right > .icon {
        margin: 0;
    }

    /* .venue-box {
        margin: 0px;
    } */

    .profile-con {
        padding-bottom: 0px;
    }

    header {
        flex-flow: row;
    }

    h1 {
        font-size: 1.3em;
    }
    h2 {
        font-size: 1em;
        margin-top: 0px;
    }
    h3 {
        font-size: 0.9em;
    }

    p {
        font-size: 0.8em;
    }

    textarea {
        width: auto;
        height: 100px;
    }

    input {
        margin: 0;
    }

    footer {
        flex-direction: column;
    }

    .iframe-box {
        flex-direction: column;
    }

    .music-box a {
        align-self: flex-end;
    }

    .maps {
        margin: 0;
    }

    .ven-text {
        width: 100%;
    }
}

@-webkit-keyframes slide {
    100% {
        right: 0;
    }
}

@keyframes slide {
    100% {
        right: 0;
    }
}
